// Post Expanded
// --------------------------------------------------
.posts-expand {
  padding-top: 0;

  .post-title,
  .post-meta {
    text-align: $site-meta-text-align;
    @include mobile() { text-align: center; }
  }
  .post-eof { display: none; }

  .post { 
    margin-top: 120px; 
    box-shadow:
      3.5px 2.2px 2.2px #000000,
      8.4px 5.3px 5.3px rgba(0, 0, 0, 0.024),
      15.8px 10px 10px rgba(0, 0, 0, 0.027),
      28.1px 17.9px 17.9px rgba(0, 0, 0, 0.031),
      52.6px 33.4px 33.4px rgba(0, 0, 0, 0.041),
      126px 80px 80px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
  }
  .post:first-child { margin-top: 0; }

  .post-meta {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .post-title {
    position: relative;
    font-size: $font-size-headings-base;
    font-weight: 400;
    @include mobile() { font-size: $font-size-headings-smaller; }
    @include desktop-large() { font-size: $font-size-headings-large; }
  }
  .post-title:hover:before { background: $black-deep; }

  .post-body img { margin: 0; }

  .post-tags {
    text-align: left;
    a {
      padding: 1px 5px;
      background: $whitesmoke;
      border-bottom: none;
    }
    a:hover { background: $grey-light; }
  }
  .post-nav { margin-top: 40px; }
}

.post-button {
  margin-top: 20px;
  text-align: left;

  a {
    margin: 0 8px 8px 0 !important;
    padding: 0;
    font-size: $font-size-base;
    color: $grey-dim;
    background: none;
    border: none;
    border-bottom: 2px solid $grey-dim;
    transition-property: border;

    @include mobile() { font-size: $font-size-small; }
    @include desktop-large() { font-size: $font-size-large; }


    &:hover { border-bottom-color: $black-deep; }
  }
}
